################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InterviewProjectKamilCep/.vs/InterviewProjectKamilCep/v17
/InterviewProjectKamilCep/.vs/InterviewProjectKamilCep/project-colors.json
